

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: hsla(300, 63%, 46%, 0.555);
    max-width: 100%;
}

.center-pic {
    display:block;
    margin:auto;
    max-width: 800px;
}

span {
    font-size: 32px;

}



.text__one {
    text-align: center;
}

.btn {
    position: relative;
    top: 10px;
    outline: none;
    text-transform: uppercase;
    border-radius: 35px;
    background-color: rgb(0, 255, 0);
    width: 250px;
    height: 50px;
}

.btn:hover {
    background-color: rgb(8, 184, 66);
}

.btn:active {
    background-color: rgb(1, 116, 97);
}


ul {
    list-style-type: none;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 50px;

}

